<div>
  <h2>CurrencyPipe</h2>
  <p>{{ 1234.56 | currency: 'USD' : true}}</p>
</div>

<div>
  <h2>DatePipe</h2>
  <p>{{dateVal | date: 'medium'}}</p>
  <p>{{dateVal | date: 'shortTime'}}</p>
  <p>{{dateVal | date: 'fullDate'}}</p>
</div>

<div>
  <h2>DecimalPipe</h2>
  <p>{{3.14159265 | number: '1.4-4'}}</p>
</div>

<div>
  <h2>JsonPipe</h2>
  <p>{{jsonVal | json}}</p>
</div>

<div>
  <h2>LowerCasePipe</h2>
  <p>{{ 'ASIM' | lowercase }}</p>
</div>

<div>
  <h2>UpperCasePipe</h2>
  <p>{{ 'indo' | uppercase }}</p>
</div>

<div>
  <h2>PercentPipe</h2>
  <p>{{ 12345 | percent: '2.1-2' }}</p>
</div>

<div>
  <h2>SlidePipe</h2>
  <p>{{ [1, 2, 3, 4, 5] | slice:2: -1 }}</p>
  <ul>
    <li *ngFor="let v of [1, 2, 3, 4, 5] | slice: 2:-1">{{v}}</li>
  </ul>
</div>
